<div class="navigation">
  <div class="navigation-left">
    <a href="/">
      <div class="icon">
        <img src="/assets/img/icons/rabbit.svg" alt="Rabbit" />
      </div>
      <div class="label">Rabbit Search</div>
    </a>
  </div>
  <div class="navigation-right">
    <div class="menu search">
      <form id="search-form" action="/scene" method="GET">
        <div class="hint-input">
          <label for="id">Scene ID #</label>
          <input
            type="number"
            id="id"
            name="id"
            min="0"
            value="%%% (locals.scene) ? locals.scene.id : 0 %%%"
            max="%%% locals.static.last_id || 0 %%%"
            oninput="value=Math.min(Math.max(value, 0), parseInt('%%% locals.static.last_id || 0 %%%'));"
          />
          <div class="hint">
            Highest ID is %%% locals.static.last_id || 0 %%%!
          </div>
        </div>
        <div>
          <button class="icon button" type="submit">
            <img src="/assets/img/icons/search.svg" alt="Search" />
          </button>
        </div>
      </form>
    </div>
    <div class="menu profile">
      %%% if (locals.user) //logged in %%%
      <a href="/account">
        <div class="icon button">
          <img src="/assets/img/icons/profile.svg" alt="Account" />
        </div>
        <div class="username label">%%% locals.user.username %%%</div>
      </a>
      %%% else //not logged in %%%
      <a href="/login">
        <div class="icon button">
          <img src="/assets/img/icons/profile.svg" alt="Account" />
        </div>
        <div class="username label">Login</div>
      </a>
      %%% %%%
    </div>
  </div>
</div>
