<div class="container">
    <h1>Reset Password</h1>
    <form>
        <div>
            <input type="email" [(ngModel)]="email" name="email" required />
        </div>
        <button type="button" (click)="passwordReset()">Send Code</button>
        <div>
            <input
                type="password"
                [(ngModel)]="password1"
                name="password1"
                required
            />
        </div>
        <div>
            <input
                type="password"
                [(ngModel)]="password2"
                name="password2"
                required
            />
        </div>
        <div>
            <input type="text" [(ngModel)]="token" name="token" required />
        </div>
        <button type="button" (click)="passwordVerify()">Reset Password</button>
    </form>
    <p><a [routerLink]="['/register']">Don't have an account?</a></p>
    <p><a [routerLink]="['/login']">Remember your password?</a></p>
</div>
