<div class="container">
    <h1>Reset Password</h1>
    <form>
        <input
            type="email"
            [(ngModel)]="email"
            name="email"
            placeholder="Email"
            required
        />
        <button type="button" (click)="passwordReset()">Send Code</button>
        <input
            type="password"
            [(ngModel)]="password1"
            name="password1"
            placeholder="New Password"
            required
        />
        <input
            type="password"
            [(ngModel)]="password2"
            name="password2"
            placeholder="Repeat Password"
            required
        />
        <input
            type="text"
            [(ngModel)]="token"
            name="token"
            placeholder="Token"
            required
        />
        <button type="button" (click)="passwordVerify()">Reset Password</button>
    </form>
    <p><a [routerLink]="['/register']">Don't have an account?</a></p>
    <p><a [routerLink]="['/login']">Remember your password?</a></p>
</div>
