<div class="title">
    <h1>Rabbit Search Game</h1>
</div>
<div class="description-wrapper">
    <div class="rabbit-gif-wrapper">
        <img
            class="rabbit-gif"
            src="https://media.tenor.com/Add9qffI-NgAAAAC/rabbit-stare.gif"
            alt="Rabbit Gif"
        />
        <img
            class="tenor-footer"
            src="/img/tenor/PB_tenor_logo_blue_horizontal.svg"
            alt="Tenor Footer"
        />
    </div>
    <div class="description">
        <p>
            Choose your own adventure and build upon it! Your choices were built
            by players, and you can continue the chain. Everyone starts on the
            same starting point. Every scenario presents a short story, a
            fitting GIF, and three branching choices. Can you explore them all?
        </p>
        <div class="button-wrapper">
            <a href="/scene/0" class="button">Enter Rabbit Hole</a>
        </div>
        <div class="button-wrapper">
            <a href="https://discord.gg/bXr3m5DezB" class="button"
                >Join The Discord</a
            >
        </div>
        <p class="total">
            There are a total of <%= locals.static.scene_count || 0 %> paths
        </p>
    </div>
</div>
