.title {
    padding-top: 10px;
}

.description-wrapper {
    overflow: auto;
    margin-bottom: 50px;
}

.description-wrapper > * {
    float: inline-start;
}

.description-wrapper .rabbit-gif-wrapper {
    width: 40%;
    max-width: 300px;
    margin-right: 40px;
}

.description-wrapper .rabbit-gif-wrapper .rabbit-gif {
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
}

.description-wrapper .description {
    max-width: 60%;
    font-size: 20px;
}

.description-wrapper .description button {
    padding: 15px;
    font-size: 22px;
    border-radius: 10px;
    background: #799ce6;
}

.description-wrapper .description .button-wrapper {
    position: relative;
    display: block;
    width: fit-content;
}

.description-wrapper .description .button-wrapper .button {
    text-decoration: none;
    padding: 15px;
    width: 175px;
    font-family: "Arial";
    font-size: 22px;
    letter-spacing: -0.5px;
    text-align: center;
    border-radius: 10px;
    background: #799ce6;
    display: block;
}
