.profile-banner {
    background-color: #799ce6;
    padding: 20px;
    padding-right: 50px;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
    min-width: 500px;
    border-radius: 10px;
    display: flex;
}

.profile-picture-wrapper {
    margin-right: 20px;
}

.profile-picture {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid black;
}

.profile-info {
    text-align: left;
    h1 {
        margin-top: 0px;
    }
}

.settings {
    width: 100%;
    min-width: 500px;
    padding: 20px;
    box-sizing: border-box;
    min-height: calc(100vh - 400px);
    border-radius: 10px;
    overflow: hidden;
    background: #a8c6b4;
    h2 {
        &:first-child {
            margin-top: 0;
        }
    }
}

h4 {
    margin: 15px 0;
}

button {
    height: 34px;
    margin: 1px;
    padding: 0 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #e91e63;
    &:hover {
        color: white;
        background-color: #680929;
    }

    &:active {
        color: white;
        background-color: #680929;
    }

    &:disabled {
        color: white;
        background-color: #680929;
        cursor: progress;
    }
}

textarea {
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 650px;
    max-width: 100%;
    height: 120px;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    width: fit-content;
    input {
        margin: 0;
        width: 0;
        height: 0;
        display: none;
        &:checked {
            ~ {
                .switch {
                    background: #298d4a;
                    div {
                        margin-left: calc(100% - 20px);
                    }
                }
            }
        }
    }

    .switch {
        width: 50px;
        height: 28px;
        padding: 4px;
        box-sizing: border-box;
        margin-left: 10px;
        border-radius: 14px;
        background: gray;
        transition: 0.3s;
        div {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: white;
            transition: 0.3s;
        }
    }
}

.rabbit-gif-wrapper {
    position: absolute;
    left: calc(100% + 25px);
    top: 0px;
    width: 100%;
    max-width: 200px;
    .rabbit-gif {
        width: 100%;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 1000px) {
    .rabbit-gif-wrapper {
        position: initial;
        margin: 30px 0;
    }
}
