.title {
    padding-top: 10px;
}

p {
    font-size: 20px;
}

.disclaimer {
    width: 100%;
    max-width: 800px;
    padding-bottom: 30px;
}

.disclaimer .button {
    width: 200px;
    height: 50px;
    font-size: 1em;
}

.description-wrapper {
    overflow: auto;
    margin-bottom: 50px;
}

.description-wrapper > * {
    float: inline-start;
}

.description-wrapper .rabbit-gif-wrapper {
    width: 40%;
    max-width: 300px;
    margin-right: 40px;
}

.description-wrapper .rabbit-gif-wrapper .rabbit-gif {
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
}

.description-wrapper .description {
    max-width: 60%;
}

.description-wrapper .description button {
    padding: 15px;
    font-size: 22px;
    border-radius: 10px;
    background: #799ce6;
}

.description-wrapper .description .input-wrapper {
    overflow: auto;
}

.description-wrapper .description .input-wrapper > * {
    height: fit-content;
    display: block;
    float: left;
    padding-right: 10px;
}

.description-wrapper .description .input-wrapper label {
    width: 5%;
    min-width: fit-content;
}

.description-wrapper .description .input-wrapper input,
.description-wrapper .description .input-wrapper textarea {
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.description-wrapper .description .input-wrapper textarea {
    min-height: 500px;
    max-width: 90%;
}

.description-wrapper .description .tos-wrapper {
    padding: 20px 0;
}

.tenor-selector {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    max-width: 95%;
    background: white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tenor-selector .text {
    border: none;
    outline: none;
    background: #e9edff;
    padding: 10px 15px;
    width: 100%;
    border-radius: 10px 0 0 10px;
}

.tenor-selector .flex {
    display: flex;
}

.tenor-selector button {
    border: none;
    outline: none;
    background: #e91e63;
    padding: 10px 15px;
    color: white;
    border-radius: 0px 10px 10px 0;
}

.tenor-selector .searched_content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    max-height: 50vh;
    overflow-y: auto;
}

.tenor-selector .pic {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 5px;
    object-fit: cover;
    border: 1px solid lightgrey;
}
