<div class="container">
    <h1>Verify Account</h1>
    <form [formGroup]="form">
        <div class="field">
            <input
                type="email"
                formControlName="email"
                name="email"
                placeholder="Email"
            />
            @if (showErrorsEmail && form.get("email")!.invalid) {
                @for (
                    error of form.get("email")!.errors | formatError;
                    track error
                ) {
                    <div>{{ error }}</div>
                }
            }
            @if (cooldownTimer.cooldown > 0) {
                <div>
                    Code sent successfully! Please wait
                    {{ cooldownTimer.cooldown }} to send another code.
                </div>
            }
        </div>
        <div class="field">
            <input
                type="text"
                formControlName="token"
                name="token"
                placeholder="Token"
            />
            @if (showErrorsToken && form.get("token")!.invalid) {
                @for (
                    error of form.get("token")!.errors | formatError;
                    track error
                ) {
                    <div>{{ error }}</div>
                }
            }
            @if (showErrorsToken && form!.invalid) {
                @for (error of form!.errors | formatError; track error) {
                    <div>{{ error }}</div>
                }
            }
        </div>
        <button
            type="button"
            (click)="registerCode()"
            [disabled]="cooldownTimer.cooldown > 0"
        >
            Send Code
        </button>
        <button type="button" (click)="registerVerify()">Verify Account</button>
    </form>
    <p><a [routerLink]="['/register']">Don't have an account?</a></p>
</div>
