<div class="container">
    <h1>Register</h1>
    <form [formGroup]="form">
        <div class="field">
            <input
                type="email"
                formControlName="email"
                name="email"
                placeholder="Email"
            />
            @if (showErrors && form.get("email")!.invalid) {
                @for (
                    error of form.get("email")!.errors | formatError;
                    track error
                ) {
                    <div>{{ error }}</div>
                }
            }
            @if (cooldownTimer.cooldown > 0) {
                <div>
                    Code sent successfully! Please wait
                    {{ cooldownTimer.cooldown }} to send another code.
                </div>
            }
        </div>
        <div class="field">
            <input
                type="text"
                formControlName="username"
                name="username"
                placeholder="Username"
            />
            @if (showErrors && form.get("username")!.invalid) {
                @for (
                    error of form.get("username")!.errors | formatError;
                    track error
                ) {
                    <div>{{ error }}</div>
                }
            }
        </div>
        <div class="field">
            <input
                type="password"
                formControlName="password1"
                name="password1"
                placeholder="Password"
            />
            @if (showErrors && form.get("password1")!.invalid) {
                @for (
                    error of form.get("password1")!.errors | formatError;
                    track error
                ) {
                    <div>{{ error }}</div>
                }
            }
        </div>
        <div class="field">
            <input
                type="password"
                formControlName="password2"
                name="password2"
                placeholder="Repeat Password"
            />
            @if (showErrors && form.get("password2")!.invalid) {
                @for (
                    error of form.get("password2")!.errors | formatError;
                    track error
                ) {
                    <div>{{ error }}</div>
                }
            }
            @if (showErrors && form!.invalid) {
                @for (error of form!.errors | formatError; track error) {
                    <div>{{ error }}</div>
                }
            }
        </div>
        <button type="button" (click)="register()">Register</button>
    </form>
    <p><a [routerLink]="['/login']">Already have an account?</a></p>
</div>
