<div class="container">
    <h1>Login</h1>
    <form [formGroup]="form">
        <div class="field">
            <input
                type="email"
                formControlName="email"
                name="email"
                placeholder="Email"
            />
            @if (showErrors && form.get("email")!.invalid) {
                @for (
                    error of form.get("email")!.errors | formatError;
                    track error
                ) {
                    <div>{{ error }}</div>
                }
            }
        </div>
        <div class="field">
            <input
                type="password"
                formControlName="password"
                name="password"
                placeholder="Password"
            />
            @if (showErrors && form.get("password")!.invalid) {
                @for (
                    error of form.get("password")!.errors | formatError;
                    track error
                ) {
                    <div>{{ error }}</div>
                }
            }
        </div>
        <button type="button" (click)="login()">Login</button>
    </form>
    <p><a [routerLink]="['/register']">Don't have an account?</a></p>
    <p><a [routerLink]="['/pwreset']">Forgot your password?</a></p>
    <p><a [routerLink]="['/rgverify']">Need to verify your account?</a></p>
</div>
