.title {
    padding: 10px;
}

.title .heading {
    width: fit-content;
    position: relative;
}

.title .heading .badge-wrapper {
    position: absolute;
    bottom: 0;
    left: 100%;
    display: flex;
    margin-left: 15px;
}

.description-wrapper {
    overflow: auto;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.description-wrapper > * {
    float: inline-start;
}

.description-wrapper .rabbit-gif-wrapper {
    width: 100%;
    max-width: 300px;
    margin-right: 40px;
}

.description-wrapper .rabbit-gif-wrapper .rabbit-gif {
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
}

.description-wrapper .description {
    width: 100%;
    max-width: 600px;
    font-size: 20px;
}

.description-wrapper .description .choice-wrapper {
    width: fit-content;
}

.description-wrapper .description .choice-wrapper .choice {
    position: relative;
    display: block;
}

.description-wrapper .description .choice-wrapper .choice a {
    text-decoration: none;
}

.description-wrapper .description .choice-wrapper .choice .button {
    padding: 15px;
    font-family: "Arial";
    font-size: 22px;
    letter-spacing: -0.5px;
    text-align: center;
    border-radius: 10px;
    background: #799ce6;
}

.description-wrapper .description .choice-wrapper .choice .create {
    background: #9179e6;
}

.description-wrapper .description .choice-wrapper .choice .child-attributes {
    position: absolute;
    height: 30px;
    top: 0;
    left: 100%;
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
}

.description-wrapper
    .description
    .choice-wrapper
    .choice
    .child-attributes
    .child-rating-wrapper {
    display: flex;
}

.description-wrapper
    .description
    .choice-wrapper
    .choice
    .child-attributes
    .child-rating-wrapper
    .child-rating {
    padding: 5px 15px;
    margin-right: 5px;
    border-radius: 5px;
}

.description-wrapper
    .description
    .choice-wrapper
    .choice
    .child-attributes
    .child-badge-wrapper {
    display: flex;
}

.description-wrapper .description .rating-container .rating-option {
    width: fit-content;
    display: flex;
}

.description-wrapper .description .rating-container .rating-option button {
    width: 50px;
    height: 40px;
    margin-right: 10px;
}

.description-wrapper .description .rating-container .rating-option button img {
    width: auto;
}

.badge {
    position: relative;
    margin-right: 5px;
    cursor: auto;
    font: initial;
}

.badge .badge-hint {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    margin-left: -10px;
    border-radius: 7px;
    background: #8795a9;
    opacity: 0;
    transition: 0.25s;
    overflow: hidden;
    width: 0;
    height: 0;
    padding: 0;
    z-index: 1;
}

.badge .icon:hover ~ .badge-hint {
    min-width: 200px;
    width: auto;
    height: auto;
    padding: 10px;
    opacity: 1;
}

.badge .badge-hint .badge-name {
    margin-top: 0;
    margin-bottom: 10px;
    width: max-content;
}

.tabs-wrapper {
    width: 100%;
    min-width: 500px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    background: #a8c6b4;
}

.tabs-header {
    display: flex;
    position: relative;
    padding-top: 10px;
    height: 45px;
    background: #298d4a;
}

.tab-button {
    display: none;
}

.tab-spacer {
    width: 30px;
}

.tab-label {
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 5px;
    box-sizing: border-box;
    height: 40px;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

.tab-content {
    position: absolute;
    top: 100%;
    padding: 0px 30px;
    margin-top: 30px;
    width: 100%;
    height: 545px;
    box-sizing: border-box;
    display: none;
    overflow-y: scroll;
}

.tab-button:checked + .tab-label {
    height: 45px;
    background: #a8c6b4;
    border-radius: 5px 5px 0px 0px;
}

.tab-button:checked + .tab-label + .tab-content {
    display: block;
}

.tab-content label {
    display: block;
}

.tab-content select {
    width: 200px;
    height: 36px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.tab-content button {
    width: 55px;
    height: 34px;
    margin: 1px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #799ce6;
}
